/* .bgdiv::before {
	background-color: rgb(20, 20, 20);
	position: absolute;
    overflow: hidden;
    width : 110%;
    height: 110%;
    left: -5px;
    top: -5px;
    right: -5px;
    bottom: -5px;
    background: inherit;
    z-index: -1;
	content: "";
	background-image: url("wp.png");

	filter        : blur(3px);
    -moz-filter   : blur(5px);
    -webkit-filter: blur(3px);
    -o-filter     : blur(5px);

    position: absolute;

    z-index: -1;
} */

body {
	font-family: Montserrat;
	z-index: 3;
	color: #ffffff;
    margin: 0px;
    text-align: center;
    background-color: #fff;
    display:block;
}

::selection {
	background-color: gray;
}

::-webkit-scrollbar {
    display: none;
}

li.navmenuitem {
	display: inline;
	padding-right: 10px;
	padding-left: 10px;
	cursor: inherit;
	list-style-type: none;
    text-decoration: none;
}

ul.navbar {
    padding-left: 16px;
    padding-right: 16px;
}

header {
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
	z-index: 99;
	padding-bottom: 0px;
	margin-bottom: 0px;
	border-bottom: 0px;
	cursor: default;
    text-align: left;
    letter-spacing: 2px;
}



.flex-container {
  display: flex;
  flex-wrap: wrap;
}
.flex-container::after {
  content: '';
  width: 100%;
}
.flex-item:last-child { /* or `:nth-child(n + 4)` */
  order: 1;
}

#cosotop {
    display: block;
    letter-spacing: 2px;
}



.transparent {
    background-color: rgba(0,0,0,0);
    transition:.30s;
}

.semi {
    background-color: rgba(0,0,0,0.3);
    transition:.30s;
}

.whitebg {
    background-color: rgba(255,255,255,1);
    transition:.30s;
}


#websitetitle {
    font-size: 72px;
    letter-spacing: 8px;
    font-weight: 400;
}



a.navbarlink {
	text-decoration: none;
	cursor: hand;
}

a.navbarlink:hover {
	color: #909090; /* This was #595959 */
	cursor: hand;
}

.lighttext {
    color: #f2f2f2;
    transition:.30s;
}

.darktext {
    color: #000000;
    transition:.30s;
}



#pagetitle {
	text-transform: lowercase;
}

span.navmenu {
	font-weight: bold;
}

.navbar_divider {
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    cursor: hand;
}

.bgdiv {
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-attachment: fixed;
    background-position: center top;
}

.titlediv {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 300px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
    background-position: center top;
    letter-spacing: 10px;
    font-family: "Montserrat Light", "Montserrat";
    height: 200px;
}

.contentdiv {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    font-family: "Montserrat";
    letter-spacing: 0.5px;
    color: #000000;
    width: 100vw;
    background-color: #fff;
}



.clipped {
    -webkit-clip-path: polygon(0 25%, 100% 0%, 100% 75%, 0% 100%);
    clip-path: polygon(0 25%, 100% 0%, 100% 75%, 0% 100%);
}

.clippedtop {
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 75%, 0% 100%);
    clip-path: polygon(0 0, 100% 0%, 100% 75%, 0% 100%);
}

.centered {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.lefted {
    /* width: 75vw; */
    text-align: left;
    padding-left: 12.5vw;
    width: 75vw;
}


th, td {
    text-align: left;
    border: 1px solid #eee;
    padding: 2px;
    padding-left: 14px;
    padding-right: 14px;
}

img {
    max-width: 75vw;
}



#top {
    background-image: url("assets/wp/bg1.png");
}

#about {
    background-color: #FFFFFF;
    /* background-image: url("assets/wp/forest.jpg"); */
}

#opinion {
    background-color: #FFFFFF;
    background-position: center top;
    background-image: url("assets/wp/bg1.png");
}
#activities {

    background-color: #FFFFFF;
    background-image: url("assets/wp/forest.jpg");
    background-position: center top;
}

#isobus {
    background-color: #FFFFFF;
    background-image: url("assets/wp/isobus.jpg");
    background-position: center top;
}

#nonnobit {
    background-color: #FFFFFF;
    background-image: url("assets/wp/tasiera_ancora_meno_etero.jpg");
    background-position: center top;
}

#multimedia {
    background-color: #FFFFFF;
    background-image: url("assets/wp/lucca.jpg");
    background-position: center top;
}

#sprar {
    background-color: #FFFFFF;
    background-image: url("assets/wp/lucca.jpg");
    background-position: center top;
}

.button {
    padding: 15px 15px 15px 15px;
    border: 2px solid #101010;
    color: #101010;
    font-family: "Montserrat";
    font-weight: 500;
    letter-spacing: 4px;
    text-transform: lowercase;
    font-size: 22px;
    cursor: hand;
    text-decoration: none;
    /* background-color: #dfdfdf; */
}
